.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

h1{
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 52.85px;
  text-align: center;

}

.accordion{
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  width: 100%;
}

@media (max-width:980px){
  .wrapper{
    h1{
      font-size: 35px;
    }

    h3{
      font-size: 20px;
    }
  }
  .accordion{
    width: 90vw;
  }
}